body {
  margin: 0px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
div {
  font-family: Barlow Semi Condensed, sans-serif;
  text-transform: uppercase;
}

h2 {
  font-size: 24px;
  letter-spacing: 2.4px;
}

p,
span {
  font-family: Prata, serif;
  text-transform: none;
  font-size: 15px;
  letter-spacing: 1.4px;
  line-height: 22px;
}
